<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>KVNForce</Name>
    <Version>%VERSION%</Version>
    <Title>KVNForce</Title>
    <Publisher>sshmatrix</Publisher>
    <StartMenuDir>Network</StartMenuDir>
    <InstallerApplicationIcon>installer</InstallerApplicationIcon>
    <InstallerWindowIcon>app_icon.png</InstallerWindowIcon>
    <TargetDir>%DIST_PATH%</TargetDir>
     <ControlScript>control.js</ControlScript>
</Installer>